/*************variables***********/
@import url("https://use.typekit.net/wcw6wbr.css");

$bg-presentation : rgb(230, 227, 227);
$bg-teams : rgb(0, 0, 0);
$bg-color : #fff;


/* Basic styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    max-width: 100%;
    font-family: "futura-pt",sans-serif;
}



img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}
p{
    font-weight: 700;
    font-size: 14px;
}

/*************MENU***************/

.nav-icone{
    display : block;
    background: url('../images/oeil.png');
    background-size: cover;
    position: fixed;

    height: 35px;
    width: 35px;

    top : 5%;
    right: 5%;
    transform: translate(-5%, -5%);
    z-index: 10;
}

nav{
    display : none;
    justify-content: flex-end;
    flex-direction: column;
    position: fixed;
    z-index: 11;
    top : 15%;
    left :15%;
    transform: translate(15%, -15%);

    & .linkList {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 50vh;
        width: 65vw;
        background: rgba(3, 3, 3, 0.877);
        transition: height 2s, weight 1s;

        & li{
        display : flex;
        justify-content: center;
            & a{
                text-decoration: none;
                font-size: 1.3rem;
                color : #fff;
                font-family: Futura-pt;
                font-weight: 500;

            }
        }
    }

}


/*******************HEADER **********************/

header{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  color: #000;
  background-color: $bg-color;
}

.home-title{
    display : inline-block;
    align-items: flex-end;
    font-size: 2.2rem;
    display : flex;
    flex-direction: column;
    width: 80%;
    position: relative;
}


.home-title p{
    border-right: 2px solid #000;
    font-weight: 500;
    font-family: "futura-pt",sans-serif;
    height: fit-content;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    right: 12%;
    white-space: nowrap;
    width: 55px;

}

  .home-title p:nth-of-type(1) {
    letter-spacing: 8px;
    //width: 55px;
    opacity: 0;
    -webkit-animation: firstWrite 4s steps(40, end), blink .5s step-end infinite alternate;
    animation: firstWrite 4s steps(40, end), blink .5s step-end infinite alternate;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation-direction: normal;
  }
  
  .home-title p:nth-of-type(2) {
    letter-spacing: 9px;
    //width: 55px;
    opacity: 0;
    -webkit-animation: firstWrite 4s steps(40, end), blink .5s step-end infinite alternate;
    animation: firstWrite 4s steps(40, end), blink .5s step-end infinite alternate;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation-direction: normal;
  }
  
  .home-title p:nth-of-type(3) {
    letter-spacing: 10px;
    //width: 55px;
    opacity: 0;
    -webkit-animation: firstWrite 4s steps(40, end), blink .5s step-end infinite alternate;
    animation: firstWrite 4s steps(40, end), blink .5s step-end infinite alternate;
    -webkit-animation-delay: 4s;
    animation-delay: 8s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation-direction: normal;
  }

  .home-title p:nth-of-type(4) {
    letter-spacing: 8px;
    //width: 55px;
     opacity: 0;
     -webkit-animation: lastWrite 4s steps(40, end), blink .5s step-end infinite alternate;
     animation: lastWrite 4s steps(40, end), blink .5s step-end infinite alternate;
     -webkit-animation-delay: 4s;
     animation-delay: 12s;
     -webkit-animation-fill-mode: forwards;
     animation-fill-mode: forwards;
     animation-direction: normal;
   }
  

  @keyframes firstWrite {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      border-right : none;
    }
  }


  @keyframes lastWrite {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;

    }
  }


  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @-webkit-keyframes blink {
    50% {
      border-color: tranparent;
    }
  }



/********************BODY*********************/

.about{
    display : flex;
    flex-direction : row;
    flex-wrap: wrap;
    align-items: center;
    min-height: 300px;
    height: 100vh;
    background-color: $bg-presentation;
    padding : 50px 20px;

    & p{
        font-size: 30px;
        font-weight: bold;
        font-family: futura-pt-bold;
        text-align: justify;
        hyphens: auto;
    }
}



.services{
    display: flex;
    flex-direction: column;
    height: 100%;
    
    margin : 7vh 0;
    padding : 0 20px;
    
    & h1 {
        font-size: 22px;
        font-weight: 1000;
        font-family: futura-pt-medium;
    }



    &__content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 100%;

        .services__cols {
            display : flex;
            flex-direction: row;
            flex: 1;

            & p{
                writing-mode: vertical-rl;
                transform: rotate(180deg);
                padding : 10px 7px 0px 7px;
            }

            &:nth-child(1) img{
                max-width: 70%;
            }
           
            &:nth-child(2) img{
                max-width: 90%;
            }

            &:nth-child(3){
                justify-content: center;
            }

            &:nth-child(3) img{

                max-width: 60%;
            }
        } 
    }
}



.teams{
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    gap : 50px;
    align-items: center;
    padding : 15vh 25px 25vh 25px;
  

    background: $bg-teams;

    .portrait{
        display : flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;

        & img{
            width: 95%;
        }
    }


    &__content {
        display : flex; 
        flex-direction: column;
        justify-content: space-between;
        min-height: 850px;
        height: 100%;
    }

    & p{
        font-weight: initial;
        color : white;
        font-size: 19px;
        text-align: justify;

        & .big{
            font-size: 40px;
            font-weight: 700;
        }

        & .medium{
            font-size: 30px;
            font-weight: 700;
        }

        & .small{
            font-size: 18px;
            font-weight: 600;
        }
    }


    & .portrait:last-child > div:last-child{
        padding-bottom : 30px;
        border-bottom: 20px solid white;
    }   
}


.social{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: static;
    height: 100%;
    background-color: #fff;
    margin-bottom : 20vh;

    & div{
        display : flex;
        flex-direction: column;
        gap : 25px;
        top : -70px;
        position: relative;

        & a{
            display : flex;
            justify-content: center;
        }
        & img{
            width: 75%;
        }
    }
}





.precontact{
    //background: url(../images/oeil.png);
    background-image: url("data:image/svg+xml,%3Csvg id='Calque_1' data-name='Calque 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 49.37 49.37'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%231e1e1c;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3E50px%3C/title%3E%3Cpath class='' d='M25,49.68A24.69,24.69,0,1,1,49.69,25,24.72,24.72,0,0,1,25,49.68ZM25,4.19A20.81,20.81,0,1,0,45.81,25,20.82,20.82,0,0,0,25,4.19Z' transform='translate(-0.32 -0.31)'/%3E%3Cpath class='' d='M25.55,34.56A9.57,9.57,0,1,0,16,25a9.57,9.57,0,0,0,9.57,9.57' transform='translate(-0.32 -0.31)'/%3E%3C/svg%3E");

    background-repeat: repeat;
    background-size: 50px 50px;
    background-position: -5px 0;
    height: 41vh;
}

.contact{
    background: #000;
    display : flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    max-width: 100%;
    gap : 15px;
    padding : 5vh 0;

    & div{
        display : flex;
        flex-direction: column;
        width: 92%;
        height: 25vh;
        justify-content: space-evenly;
        text-align: center;

        & span a{
            font-size: 17px;
            letter-spacing: 5px;
            text-decoration: none;
            padding : 7px;
            border : 2px solid #fff;

        }
         
        & h2 {
            font-size: 21px;
        }

        & span a, h2{
            color : #fff
        }
    }
}


footer {
    max-width: 100%;
    height: 30vh;
    display : flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin: 3vh 0;

    &>div:first-child{
        display : flex;
        flex-direction: column;

        justify-content: space-evenly;
        width: 170px;
        height: 170px;
        border-radius: 100%;
        border : 3px solid black;

        & a {
            color : #000;
            text-decoration: none;
        }
    }
}


// TABLETTE ET PETIT ORDINATEUR
/*
@media screen and (min-width : 790px) and (max-width : 1023px) {
    
}
*/


//FULL SCREEN
@media screen and (min-width : 790px) {
    .home-title p{
        font-size: 5rem;
        width: 200px !important;
    }

    .about p{
        font-size: 50px;
        padding : 0 7vw;
    }

    .services{

        & h1{
            padding-left: 8vw;
            font-size: 35px;
        }
        
        &__content{
            flex-direction: row;
            max-width: 1280px;
            margin : 0 auto;
        }
        &__cols{
            flex: initial !important;
        }

        &__cols:nth-child(1){
            flex-direction: row-reverse;
            width: 50%;
        }
        &__cols:nth-child(1) img{
            max-width: 75% !important;
        }

        &__cols:nth-child(2){
            width: 50%;
            align-self: end;


        }
        &__cols:nth-child(2) img{
            max-width: 100% !important;
        }

        &__cols:nth-child(3){
            flex-direction: row-reverse;
            width: 100%;

        }
        &__cols:nth-child(3) img{
            max-width: 35% !important;
        }
        
    }

    .teams{
        justify-content: center;
        .portrait{
            width: 1080px;
            flex-direction: row;
            justify-content: center;

            & img{
                width: 50%;
            }
        }

        &__content {
            width: 1080px;
            min-height: 300px;
            flex-direction: row;
            
            & div{
                width: 48%;
            }
        }
    }

    .social {
        & div {
            flex-direction: row;
            max-width: 1440px;
            & a {
                flex : 1;
            }
        }
    }


}


