/*************variables***********/
@import url("https://use.typekit.net/wcw6wbr.css");

$bg-presentation : rgb(230, 227, 227);
$bg-presentation-web : rgb(221, 217, 217);
$bg-teams : rgb(0, 0, 0);
$bg-color : #fff;


/*test*/
.test {
    position: relative;
    width: 125px;
    height: 125px;
    background-color: black;
    shape-outside: circle(50%) content-box;
    border-radius: 50%;
    animation: closeEyes 5s;


}
.test::before{
    content: "";
    position: absolute;
    width: 113px;
    height: 112px;
    top : 5%;
    left : 5%;
    background-color: #fff;
    border-radius: 50%;
}

.test::after{
    content: "";
    position: absolute;
    top : 30%;
    left: 30%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
}


@keyframes closeEyes{

    0%{
        height: 10px;

    }

    50%{
        height: 0px;
        border-radius: 0%;

    }
    100%{
        height: 125px;
    }
}







/* Basic styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    max-width: 100%;
    font-family: "futura-pt",sans-serif;
}



img {
    max-width: 100%;
    height: auto;
    object-fit: contain;

}
p{
    font-weight: 700;
    font-size: 14px;
}


/*************OnLoad*************/
.onLoad{
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background: url(../images/invisible_oeil-compressed.gif), #fff;
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (min-width : 900px) {
    .onLoad {
        background-size: 200px 200px;
    }
}


/*************MENU***************/

.nav-icone{
    display : block;
    //background: url('../images/menu/oeil-min.png');
    //background-size: 35px 35px;
    position: fixed;

    height: 35px;
    width: 35px;

    top : 5%;
    right: 5%;
    transform: translate(-5%, -5%);
    z-index: 10;
    cursor: pointer;
}

.nav-responsive{
    justify-content: flex-end;
    flex-direction: column;
    position: fixed;
    z-index: 11;
    top : 6%;
    right :7%;
    transform: translate(-16px, 12px);
 }

nav{
    display : none;
    transition: height 1s;


    & .linkList {
        
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 95vh;
        width: 100vw;
        background: rgba(3, 3, 3, 0.877);

        & li{
            -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; 
        display : flex;
        justify-content: center;
            & a{
                text-decoration: none;
                font-size: 1.3rem;
                color : #fff;
                font-family: Futura-pt;
                font-weight: 500;

            }
        }
    }

}


/*******************HEADER **********************/

header{
    display : flex;
    justify-content: center;
    height: 100vh;
    color: #000;
    background-color: $bg-color;
}


.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}


.subTitle{
    display: inline-block;
    width: 100%;
}
  
.subTitle p{
    font-family: futura-pt !important;
    font-weight: 700;
    height: fit-content;

    font-size: 5vw;
    letter-spacing: 5px;

    overflow: hidden;
    white-space: nowrap;
    padding-left: 55vw;
}

.subTitle p:nth-of-type(1){
    width: 88%;
    opacity: 0;
    animation: type1 2s steps(15) forwards, blinks .9s .9s;
    letter-spacing: 7.1px;
    animation-delay: 2s;

  }
  
  .subTitle p:nth-of-type(2){
    width: 88%;
    opacity: 0;
    letter-spacing: 7px;
    animation: type1 1s steps(15, end) forwards, blinks .9s .9s;
    animation-delay: 3.8s;
  }
  
  .subTitle p:nth-of-type(3){
    width: 88%;
    opacity: 0;
    animation: type1 1.3s steps(15, end) forwards, blinks .9s .9s;
    animation-delay: 4.5s;
    letter-spacing: 7px;

  }
  
  .subTitle p:nth-of-type(4){
    width: 88%;
    opacity: 0;
    animation: type1 1.3s steps(15, end) forwards, blinks .6s infinite;
    animation-delay: 5.5s;
    letter-spacing: 5.5px;

  }
  
  
  @keyframes type1 {
      0% {
        opacity: 0;
        width: 0;
      }
      1%{
        opacity: 1;
      }
      100% {
        opacity: 1;
      }
  
  }
  
  @keyframes blinks {
  
    99.9% {
      border-right: 2px solid rgb(0, 0, 0);
    }
    100%{
      border-right : none;
    } 
  }


  @media screen and (min-width : 900px) {

    .home-title{
        width: 75% !important;
    }

    .subTitle{
        width: 65%;
    }

    .subTitle p{
        padding-left: 37vw;
        font-size: 4.5vw;
        line-height: 9vh;

    }

    .subTitle p:nth-of-type(1){
        letter-spacing: 12px;
        width: 96%;

    }
    .subTitle p:nth-of-type(2){
        letter-spacing: 12px;
        width: 96%;
        

    }
    .subTitle p:nth-of-type(3){
        letter-spacing: 13px;
        width: 96%;
        

    }
    .subTitle p:nth-of-type(4){
        letter-spacing: 13px;
        width: 96%;
    }
  }



/********************BODY*********************/

.about{
    display : flex;
    flex-direction : row;
    flex-wrap: wrap;
    align-items: center;
    min-height: 300px;
    height: 100%;
    background-color: $bg-presentation;
    padding : 100px 20px;

    & p{
        font-weight: 0;
        font-size: 40px;
        font-weight: initial;
        font-family: futura-pt;
        hyphens: auto;
    }
}



.services{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin : 10vh 0;
    padding : 0 20px;
    

    & h1 {
        font-size: 22px;
        font-family: futura-pt-bold;
        font-weight: bold;
        letter-spacing: 5px;
        padding-bottom : 30px
    }



    &__content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        overflow: hidden;

        //Parent COLLUMNS SERVICES
        .services__cols {
            display : flex;
            position: relative;

            & p{
                font-family: futura-pt;
                writing-mode: vertical-rl;
                transform: rotate(180deg);
                padding : 10px 7px 0px 7px;
                letter-spacing: .8px;
                

                -webkit-touch-callout: none; /* iOS Safari */
                -webkit-user-select: none; /* Safari */
                -khtml-user-select: none; /* Konqueror HTML */
                -moz-user-select: none; /* Old versions of Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                            supported by Chrome, Opera and Firefox */
            }   
        }


        & div{

            display : flex;

            &:nth-child(1) img {
                
                max-width: 70%;
            }
           
            &:nth-child(2) img{
                max-width: 90%;
            }

            &:nth-child(3){
                justify-content: center;
                
                & img{

                    max-width: 60%;
                }
            }

            /****SERVICE CARD 1 ANIMATION TEXT APPARAIT****/

            .services__subtitle__text{
                display : flex;
                justify-content: center;
                align-items: center;

                & ul {
                    display : flex;
                    flex-direction: column;
                    list-style-type: none;
                    align-items: center;
                    justify-content: space-evenly;
                    height: 100%;
                }
            }
            

            .identite_cards__text {
                
                display: none;
                justify-content: center;
                align-items: center;
    
                width: 70%;
                height: 100%;
    
                position: absolute;
    
                top : 0;
                left: 0;
    
                background-color: #E5847D;
    
                & p{
                    transform: rotate(0deg);
                    writing-mode: initial;
                }
            }


            .print_cards__text {
                display: none;
                justify-content: center;
                align-items: center;
                position: absolute;
                top : 0;
                left: 0;
                background-color: #FFF8A8;
                width: 90%;
                height: 100%;
                z-index: 5;
                & p{
                    transform: rotate(0deg);
                    writing-mode: initial;
                }
            }
    
            .digital_cards__text {
                display: none;
                justify-content: center;
                align-items: center;
                position: absolute;
                top : 0;
                left: 0;
                background-color: #CDEFFE;
                width: 60%;
                height: 100%;
                z-index: 5;
                & p{
                    transform: rotate(0deg);
                    writing-mode: initial;
                }
            }
        }
    }
}





.teams{
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    gap : 50px;
    align-items: center;
    padding : 30vh 25px 35vh 25px;
  

    background: $bg-teams;

    .portrait{

        display : flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;

        & div{
            position: relative;

            & img {
                width: 100%;
                cursor: pointer;
            }

            & .portrait_name{
                display: none;
            }

            &:hover .portrait_name{
                display: flex;
                justify-content: flex-end;
                position: absolute;
    
                bottom : 0;
                width: 100%;
                height: 15vh;
    
                background-color : rgba(0, 0, 0, 0.75);
                color : #fff;

                & p{
                    width: 150px;
                    height: min-content;
                    border-bottom : 3px solid #fff;
                    font-size: 25px;
                    font-family: futura-pt;
                }
            }
        }
    }


    &__content {

        display : flex; 
        flex-direction: column;
        min-height: 850px;
        height: 100%;
    }

    & p{
        font-weight: initial;
        color : white;
        font-size: 19px;
        text-align: justify;

        & .big{
            font-size: 40px;
            font-weight: 700;
        }

        & .medium{
            font-size: 30px;
            font-weight: 700;
        }

        & .small{
            font-size: 18px;
            font-weight: 600;
        }
    }


    & .portrait:last-child > div:last-child{
        padding-bottom : 30px;
        border-bottom: 20px solid white;
    }   
}


.social{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: static;
    height: 100%;
    background-color: #fff;
    margin-bottom : 11vh;

    & div{
        display : flex;
        flex-direction: column;
        gap : 25px;
        top : -70px;
        position: relative;

        & a{
            display : flex;
            justify-content: center;
        }
        & img{
            width: 75%;
        }
    }
}





.precontact{
    background-image: url("data:image/svg+xml,%3Csvg id='Calque_1' data-name='Calque 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 49.37 49.37'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%231e1e1c;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3E50px%3C/title%3E%3Cpath class='' d='M25,49.68A24.69,24.69,0,1,1,49.69,25,24.72,24.72,0,0,1,25,49.68ZM25,4.19A20.81,20.81,0,1,0,45.81,25,20.82,20.82,0,0,0,25,4.19Z' transform='translate(-0.32 -0.31)'/%3E%3Cpath class='' d='M25.55,34.56A9.57,9.57,0,1,0,16,25a9.57,9.57,0,0,0,9.57,9.57' transform='translate(-0.32 -0.31)'/%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: 50px 50px;
    background-position: -5px 0;
    height: 41vh;
}

.contact{
    background: #000;
    display : flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    max-width: 100%;
    gap : 15px;
    padding : 5vh 0;

    & div{
        display : flex;
        flex-direction: column;
        width: 92%;
        height: 25vh;
        justify-content: space-evenly;
        text-align: center;

        & span a{
            font-size: 17px;
            letter-spacing: 7.5px;
            text-decoration: none;
            padding : 7px;
            border : 2px solid #fff;

        }
         
        & h2 {
            font-size: 21px;
        }

        & span a, h2{
            color : #fff
        }
    }
}


footer {
    max-width: 100%;
    height: 29vh;
    display : flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin: 8vh 0;

    & > div:first-child{
        display : flex;
        flex-direction: column;

        justify-content: space-evenly;
        width: 180px;
        height: 180px;
        border-radius: 100%;
        border : 5px solid black;

        & a {
            color : #000;
            text-decoration: none;
        }
        
    }
    & div p {
        font-family: futura-pt;
        font-weight: initial !important;
        font-size: 17px;
    }
}


/*************** FULL SCREEN RESPONSIVE *****************/
@media screen and (min-width : 900px) {

    
    .about{
        background-color: $bg-presentation-web;
    }
    .about p{
        font-size: 78px;
        padding : 0 12vw;
    }



    .services{
        margin-top : 15vh; 

        & h1{
            padding-left: 8vw;
            font-size: 35px;
        }
        
        &__content{
            flex-direction: row;
            margin : 0 auto;
            width : 100%;

        .services__cols:nth-child(1){
            width: 45%;
        } 
        .services__cols:nth-child(2){
            width: 51%;
        }   
        .services__cols:nth-child(3){
            width: 97.5%;
        } 

        .identite_cards{
            flex-direction: row-reverse;
            height: fit-content;

            & img{
                max-width: 75% !important;
            }
        }
        .identite_cards__text {

            width: 75% !important;
            right: 0 !important;
            left : initial !important;
        }

        .print_cards{
            align-items: flex-end;
            & img{
                
                max-width: 90% !important;
            }
        }
        .print_cards__text {
            width: 90% !important;
            height: 64.2% !important;
            top : initial !important;
            bottom : 0;
        }

        .digital_cards{
            position: relative;
            justify-content: center;
            margin-left : 31%;

            & img{
                max-width: 52% !important;
        
            }
        }
        .digital_cards__text {
            width: 36% !important;
            left: initial !important;
            right: 18%;

        }
    }
        



        .services__cols{

            //flex: initial !important;

            & p {
                padding-top : 8px !important;
                font-size: 1.5vw;
                letter-spacing: 7px !important;
            }

        }

        .services__subtitle__text{
            padding : 0 50px !important;
            font-size: 2vw;
        }
        
    }

    .teams{
        justify-content: center;
        .portrait{
            width: 1080px;
            flex-direction: row;
            justify-content: center;

            & img{
                width: 49.3%;
            }
        }

        &__content {
            width: 1080px;
            min-height: 300px;
            max-height: 650px;
            height: 80%;
            justify-content: space-between;

            flex-direction: row;
            
            & p{
                width: 48%;
                height: 50%;

                &:nth-of-type(2){
                    padding-top : 19px !important;
                }
            }
        }
    }

    .social {
        & div {
            flex-direction: row;
            max-width: 1440px;
            & a {
                flex : 1;
            }
        }
    }


    .contact {
        & div h2{
            font-size: 55px;
        }

        & div span a {
            font-size: 30px;
            letter-spacing: 29px;
        }
    }


    footer{
        & div:first-of-type(){
            width: 15%;
            height: 80%;
        }
    }

}




#imgMobile {display:block;}
#imgDesktop {display:none}

@media screen and (min-width : 900px) {

    #imgMobile {display: none;}
    #imgDesktop {display: block;}

}
